.navbar {
  position: fixed;
  top: 0;
  left: 0; /* przyklejony do lewej */
  width: 100%;
  height: 5%;
  display: flex;  justify-content: space-between; /* logo left, linki right */
  align-items: center;
  padding: 15px 40px;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.425);
}

.theme-toggle {
  background: none;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
  margin-left: 20px;
  color: var(--text-color);
  transition: color 0.3s;
}

.theme-toggle:hover {
  color: var(--accent);
}


.logo {
  font-weight: 700;
  font-size: 1.3em;
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: #e6eef8;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #6366f1; /* accent color */
}

/* Mobile: ukryj linki (później hamburger) */
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }
}
